name: CI
on:
  push:
    branches:
      - main
    paths:
      - src/**
      - tests/**
      - .github/workflows/ci.yml
  pull_request:
    paths:
      - src/**
      - tests/**
      - .github/workflows/ci.yml

jobs:
  build-backend:
    name: Build (Backend)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.x
      - name: Cache NuGet packages
        id: cache
        uses: actions/cache@v5.0.3
        with:
          key: dotnet-${{ hashFiles('**/*.csproj') }}
          path: |
            ~/.nuget/packages
            **/obj
      - name: Restore dependencies
        if: steps.cache.outputs.cache-hit != 'true'
        run: dotnet restore .
      - name: Build Backend
        run: dotnet build src/Backend/Backend.csproj --framework net10.0 --configuration Release --no-restore --nologo
  
  build-backend-docker:
    needs: build-backend
    name: Build (Backend Docker)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: registry.digitalocean.com/saveapis/laurentbot-backend:ci
          context: .
          file: src/Backend/Dockerfile

  build-bot:
    name: Build (Bot)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.x
      - name: Cache NuGet packages
        id: cache-bot
        uses: actions/cache@v5.0.3
        with:
          key: dotnet-${{ hashFiles('**/*.csproj') }}
          path: |
            ~/.nuget/packages
            **/obj
      - name: Restore dependencies
        if: steps.cache-bot.outputs.cache-hit != 'true'
        run: dotnet restore .
      - name: Build Bot
        run: dotnet build src/Bot/Bot.csproj --framework net10.0 --configuration Release --no-restore --nologo

  build-bot-docker:
    needs: build-bot
    name: Build (Bot Docker)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: registry.digitalocean.com/saveapis/laurentbot-bot:ci
          context: .
          file: src/Bot/Dockerfile

  test-csharp:
    needs:
      - build-backend
      - build-bot
    name: Test (C#, ${{ matrix.type }})
    runs-on: ubuntu-latest
    strategy:
      matrix:
        type: [ Integration, Unit ]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup .NET Core
        uses: actions/setup-dotnet@v5.1.0
        with:
          dotnet-version: 10.0.x
      - name: Cache NuGet packages
        id: cache-test
        uses: actions/cache@v5.0.3
        with:
          key: dotnet-${{ hashFiles('**/*.csproj') }}
          path: |
            ~/.nuget/packages
            **/obj
      - name: Restore dependencies
        if: steps.cache-test.outputs.cache-hit != 'true'
        run: dotnet restore .
      - name: Run tests
        run: dotnet test tests/Tests.${{ matrix.type }}/Tests.${{ matrix.type }}.csproj --framework net10.0 --configuration Release --no-restore --nologo

  build-frontend:
    name: Build (Frontend)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup Node.js
        uses: actions/setup-node@v6.2.0
      - name: Cache Node.js modules
        id: cache-node
        uses: actions/cache@v5.0.3
        with:
          key: node-modules-${{ hashFiles('src/Frontend/yarn.lock') }}
          path: src/Frontend/node_modules
      - name: Install dependencies
        if: steps.cache-node.outputs.cache-hit != 'true'
        run: yarn --cwd src/Frontend install --frozen-lockfile
      - name: Build Frontend
        run: yarn --cwd src/Frontend build

  build-frontend-docker:
    needs: build-frontend
    name: Build (Frontend Docker)
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6.0.2
      - name: Setup QEMU
        uses: docker/setup-qemu-action@v3
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build Docker image
        uses: docker/build-push-action@v6
        with:
          push: false
          tags: registry.digitalocean.com/saveapis/laurentbot-frontend:ci
          context: src/Frontend